<!DOCTYPE html>    
<html>    
<head>    
    <title>Homepage</title>    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/NavStyle.css"> 
</head>    
<body>    
	
	<div class="navbar">
		<nav>
		<a href="#home">IMDb</a>
		<a href="#movies">Movies</a>
		<a href="#tv_shows">TV Shows</a>
		<a href="#celeb">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		<!-- {% block account_block %}
			{% if user.is_authenticated %}
				<div class="dropdown">
					<button class="dropbtn">{{user.username}}
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="#profile">Profile</a>
					  <a href="#logout">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="#signin_page">Sign-In</a>
			{% endif %}
		{% endblock %} 
		-->
		<div class="search-container">
		<form action="/action_page.php">
		  <input type="text" placeholder="Search.." name="search">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav> 
	</div>
	
</body>    
</html>    
