<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'loginStyle.css'%}">
</head>    
<body>    
	<h2 id="header1">IMDb</h2>
	<br>    
    <div class="login">
	<h2 id="header2">Sign-In</h2>
    <form id="login" method="get" action="login.php">
		<label for="Uname"><b>Email</b></label><br>
        <input type="text" name="Uname" id="Uname" placeholder="Email">    
        <br><br>    
        <label for="Pass"><b>Password</b></label>   
		<div class="account-recovery">
			<a href="#"><b>Forgot Password?</b></a>
		</div>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Sign-in">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Keep me signed in.</span>    
        <br><br> 
    </form>
	<div class="create-account">
		<a href="#"><b>Create your IMDb account</b></a>
	</div>
</div>    
</body>    
</html>     