<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'loginStyle.css'%}">
</head>
<body>
	<h2 id="header1">IMDb</h2>
	<br>
    <div class="login">
	<h2 id="header2">Sign-In</h2>
        {% if messages %}
            {% for m in messages %}
                <p>{{ m }}</p>
            {% endfor %}
        {% endif %}
    <form id="login" method="post" action="/login/auth/">
        {% csrf_token %}
		<label for="Uname"><b>Username</b></label><br>
        <input type="text" name="Uname" id="Uname" placeholder="Email">
        <br><br>
        <label for="Pass"><b>Password</b></label>
		<div class="account-recovery">
			<a href="#"><b>Forgot Password?</b></a>
		</div>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <button type="submit">Sign In</button>
        <br><br>
        <button type="submit" formaction="/superuser/">Sign In as Superuser</button>
        <br><br>
        <!-- <input type="checkbox" id="check">
        <span>Keep me signed in.</span> -->
        <br><br>
    </form>
	<div class="create-account">
		<a href="/login/register/"><b>Create your IMDb account</b></a>
	</div>
</div>
</body>
</html>