<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'regStyle.css' %}">
</head>
<body>
    <h2 id="header1">IMDb</h2><br>
    <div class="reg">
	<h2 id="header2">Create account</h2>
        {% if messages %}
            {% for m in messages %}
                <p>{{ m }}</p>
            {% endfor %}
        {% endif %}
    <form id="reg" method="post" action="/login/register/registration/">
        {% csrf_token %}
		<label for="Uname"><b>Username</b></label><br>
        <input type="text" name="Uname" class="handle" placeholder="Username">
        <br><br>
		<label for="email"><b>Email</b></label><br>
        <input type="text" name="email" class="handle" placeholder="Email">
        <br><br>
        <label for="Pass"><b>Password</b></label>
        <input type="Password" name="Pass" class="Pass" placeholder="Password">
        <br><br>
		<label for="Pass2"><b>Re-eneter Password</b></label>
        <input type="Password" name="Pass2" class="Pass" placeholder="Confirm Password">
        <br><br>
        <button type="submit">Create IMDb Account</button>
        <br><br>
    </form>
	<p>Already have an account?</p>
	<div class="sign-in">
		<a href="/login/"><b>Sign-In</b></a>
	</div>
</div>
</body>
</html>
