<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Movie Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'NavStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'MovieStyle.css' %}">
</head>
<body>

	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		<!-- {% block account_block %}
			{% if user.is_authenticated %}
				<div class="dropdown">
					<button class="dropbtn">{{user.username}}
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="#profile">Profile</a>
					  <a href="#logout">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="#signin_page">Sign-In</a>
			{% endif %}
		{% endblock %}
		-->
		<div class="search-container">
		<form action="/search/">
		  <input type="text" placeholder="Search.." name="search">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

	<div class="movie-container">
		<div class="intro">
			<img src={{ movie_detail.0.7 }}>
			<div class="info">
				<h1>{{ movie_detail.0.1 }}</h1>
				Rating: <!-- display rating --><br><br>
				Release Date:{{movie_detail.0.4}}<br><br>
				Runtime:{{movie_detail.0.5}} Minutes<br><br>
				Genre:
				<!-- displaying genres
				{% for genre in movie.genre_list %}
					{{genre}}{% if not forloop.last %},{% endif %}
				{% endfor %}
				-->
				<br><br>
				Director: <!-- find director using query and display -->
				<br>
			</div>
		</div>

		<div class="synopsis">
			<h3>Synopsis</h3>
			<p>
				{{movie_detail.0.3}}
			</p>
		</div>

		<div class="cast">
			<h3>Cast</h3>
			<ul>
				<!-- display actors,directors etc.
				{% for celeb in movie.cast %}
					<li><a href="#celeb_page">{{celeb.celeb_name}}</a></li>
				{% endfor %}
				-->
			</ul>
		</div>

		<div class="reviews-section">
			<h3>User Reviews</h3>
			<!-- display review content
			{% for review in movie.review_list %}
				<div class="user-review">
					<a href="#user_profile"><b>{{review.username}}</b></a> <br><br>
					<p>
						Rating: {{revie.rating}} <br><br>
						{{review.review_text}} <br>
					</p>
				</div>
			{% endfor %}
			-->
		</div>
	</div>

</body>
</html>
