<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Movie Title</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{% static 'NavStyle.css' %}">
{#	<link rel="stylesheet" type="text/css" href="{% static 'MovieStyle.css' %}">#}
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'movie.js' %}"></script>
	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		{% block account_block %}
			{% if user.1 %}
				<div class="dropdown">
					<button class="dropbtn">{{user.0}}
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/profile/">Profile</a>
					  <a href="/profile/logout/">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="/login/">Sign-In</a>
			{% endif %}
		{% endblock %}
		<div class="search-container">
		<form action="/search/">
		  <input type="text" placeholder="Search.." name="search">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

	<div class="movie-container">
		<div class="intro">
			<img src={{ movie_detail.0.7 }}>
			<div class="info">
				<h1>{{ movie_detail.0.1 }}</h1>
				Rating: {{ movie_detail.0.8 }}{% if user.1 %} <button id="ratebtn">Rate this</button> {% endif %}<br><br><br><br>
				Release Date:{{movie_detail.0.4}}<br><br>
				Runtime:{{movie_detail.0.5}} Minutes<br><br>
				Genre: {{ movie_detail.0.2 }}<br><br>
                Director: <a href="/celeb/{{ director.0.0 }}">{{ director.0.1 }}</a><br>
			</div>
		</div>

		<div class="synopsis">
			<h3>Synopsis</h3>
			<p>
				{{movie_detail.0.3}}
			</p>
		</div>

		<div class="cast">
			<h3>Cast</h3>
			<ul>
				{% for celeb in actors %}
					<li><a href="/celeb/{{ celeb.0 }}/">{{celeb.1}}</a></li>
				{% endfor %}
			</ul>
		</div>

		<div class="reviews-section">
			<h3>User Reviews</h3>
			{% for review in movie_review %}
				<!--<div class="user-review">-->
					<a href="/profile/id={{ review.0 }}"><b>{{review.0}}</b></a> <br><br>
					<p>
						Rating: {{review.1}} <br><br>
						{{review.2}} <br>
					</p>
				<!--</div>-->
			{% endfor %}
		</div>

        {% if user.1 %}
			<div class="add-review">
				<button id="reviewbtn">Add a Review</button>
			</div>
		{% endif %}
	</div>

    <div id="rateForm" class="modal">
	  <div class="rate-form-content">
		<span class="close">&times;</span>
		<form id="giveRating" class="rating" method="post" action="giveRating.php">
			<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
			<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
			<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
			<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
			<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
			<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
			<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
			<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
			<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
			<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
		</form>
	  </div>
	</div>

	<div id="reviewForm" class="modal">
	  <div class="review-form-content">
		<span class="close">&times;</span>
		<form id="giveReview" method="get" action="giveReview.php">
			<label for="review-text"><h3>Write a Review</h3></label><br>
			<textarea  name="review-text" id="review-text" cols="100">
			</textarea>
			<br><br>
		</form>
	  </div>
	</div>

</body>
</html>
