body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 20px 80px 80px 80px;  
        background: #23463f;  
        border-radius: 15px;
		position: relative;
} 
.create-account{
	position: absolute;
	width: 40%;
	left: 30%;
	background-color: white;
	border-radius: 5px;
	padding: 3px;
	text-align: center;
}
.account-recovery{
	position: absolute;
	left: 250px;
	top: 157px;
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}  
span{  
    color: white;  
    font-size: 17px;  
}  

#header1{
	text-align: center;
	color: #23463f;
	padding: 20px;
}

#header2{
	color: #08ffd1;  
}	

a{
	text-decoration: none;
}