body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Arial';  
}  
.reg{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 20px 80px 80px 80px;  
        background: #23463f;  
        border-radius: 15px;
		position: relative;
}  

.sign-in{
	position: absolute;
	width: 70px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
}

label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
.handle{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
.Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#signup{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
} 

p{
	color: white;  
    font-size: 17px; 
}	

#header1{
	text-align: center;
	color: #23463f;
	padding: 20px;
}	

#header2{
	color: #08ffd1;  
}

a{
	text-decoration: none;
}