<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Profile Picture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    {% if messages %}
        {% for m in messages %}
            <p>{{ m }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="/profile/id={{ user }}/dp_changed/">
        {% csrf_token %}
        <p>New Picture Link: <input class="form-control" type="text" aria-label="default input example" name="new_pic"><br><br></p>
        <p>Enter Password:<br><input type="password" name="password"><br><br></p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>