<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    {% if messages %}
        {% for m in messages %}
            <p>{{ m }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="/profile/id={{ user }}/pass_changed/">
        {% csrf_token %}
        Enter Old Password: <input type="password" name="old_pass"><br><br>
        Enter New Password: <input type="password" name="new_pass"><br><br>
        Retype New Password:<input type="password" name="new_pass2"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>