<!DOCTYPE html>
<html>
<head>
    <title>User Account</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
    {% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'NavStyle.css'%}">
{#	<link rel="stylesheet" type="text/css" href="{% static 'AccountStyle.css'%}">#}
</head>
<body>

	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		{% block account_block %}
			{% if user.1 %}
				<div class="dropdown">
					<button class="dropbtn">{{user.0}}
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/profile/">Profile</a>
					  <a href="/profile/logout/">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="/login/">Sign-In</a>
			{% endif %}
		{% endblock %}
		<div class="search-container">
		<form action="/search/result/">
		  <input type="text" placeholder="Search.." name="search_box">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

	<div class="profile">
		<div>
			<h2>{{user.username}}</h2>

			<div class="rating">
				<h3>Your Ratings</h3>
				<ul>
                    {% for r in rating %}
                        <li>{{ r.1 }}: {{ r.0 }}</li><br><br>
                    {% endfor %}
                </ul>
			</div>

			<div class="reviews">
				<h3>Your Reviews</h3>
				<ul>
                    {% for r in review %}
                        <li>{{ r.1 }}:<br>{{ r.0 }}</li><br><br>
                    {% endfor %}
                </ul>
			</div>

			<div class="watchlist">
				<h3>Your Watchlist</h3>
				<!-- All watchlist data goes here -->
			</div>
		</div>
	</div>

</body>
</html>
