<!DOCTYPE html>
<html>
<head>
    <title>User Account</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
    {% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'NavStyle.css'%}">
{#	<link rel="stylesheet" type="text/css" href="{% static 'AccountStyle.css'%}">#}
</head>
<body>

	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		{% block account_block %}
			{% if user.1 %}
                <a href="/profile/">Profile</a>
                <a href="/profile/logout/">Logout</a>
			{% else %}
				<a href="/login/">Sign-In</a>
			{% endif %}
		{% endblock %}
		<div class="search-container">
		<form action="/search/result/">
		  <input type="text" placeholder="Search.." name="search_box">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

	<div class="profile">
		<div>
			<h2>{{user.0}}</h2>
            <p><img src="{{ profile_data.0.3 }}" height="100" width="75"></p>
            <form method="get" action="/profile/id={{ user.0 }}/change_picture/">
                {% csrf_token %}
                <button type="submit">Change Profile Picture</button>
            </form>
			<div class="rating">
				<h3>Your Ratings</h3>
				<ul>
                    {% for mr in m_review %}
                        <li><a href="/movie/{{ mr.0 }}">{{ mr.1 }}</a>:<br>{{ mr.2 }}</li><br><br>
                    {% endfor %}
                    {% for tr in t_review %}
                        <li><a href="/tvshow/{{ tr.0 }}">{{ tr.1 }}</a>:<br>{{ tr.2 }}</li><br><br>
                    {% endfor %}
                </ul>
			</div>

			<div class="reviews">
				<h3>Your Reviews</h3>
				<ul>
                    {% for mr in m_review %}
                        <li><a href="/movie/{{ mr.0 }}">{{ mr.1 }}</a>:<br>{{ mr.3 }}</li><br><br>
                    {% endfor %}
                    {% for tr in t_review %}
                        <li><a href="/tvshow/{{ tr.0 }}">{{ tr.1 }}</a>:<br>{{ tr.3 }}</li><br><br>
                    {% endfor %}
                </ul>
			</div>

			<div class="watchlist">
				<h3>Your Watchlist</h3>
				<ul>
                    {% for movie in watchlist.0 %}
                        <li><a href="/movie/{{ movie.1 }}">{{ movie.2 }}</a></li><br>
                    {% endfor %}
                    {% for tvshow in watchlist.1 %}
                        <li><a href="/tvshow/{{ tvshow.1 }}">{{ tvshow.2 }}</a></li><br>
                    {% endfor %}
                </ul>
			</div>
            <form method="get" action="/profile/id={{ user.0 }}/change_password/">
                {% csrf_token %}
                <button type="submit">Change Password</button><br><br>
            </form>
		</div>
	</div>

</body>
</html>
