<!DOCTYPE html>
<html>
<head>
    <title>User Account</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>

    {% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{%  static  'NavStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static  'newsStyle.css' %}">

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
        <a href="/news/">News</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		{% block account_block %}
			{% if user.1 %}
				<div class="dropdown">
					<button class="dropbtn">{{user.0}}
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
                        {% if user.2 == 'True' %}
                            <a href="/superuser/profile/">Update</a>
                        {%  endif %}
					  <a href="/profile/">Profile</a>
					  <a href="/profile/logout/">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="/login/">Sign-In</a>
			{% endif %}
		{% endblock %}
		<div class="search-container">
		<form action="/search/result/" method="post">
            {%  csrf_token %}
		  <input type="text" placeholder="Search.." name="search_box">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

    {% for news in all_news %}
        <div class="news_container">
            {% if not news.3 %}
                <h3>New Season ({{ news.4 }})</h3>
                <p>{{ news.0 }}</p><br>
                <a href="/tvshow/{{ news.1 }}/">Check it out</a>
            {% else %}
                <h3>New Episode ({{ news.4 }})</h3>
                <p>{{ news.0 }}</p><br>
                <a href="/tvshow/{{ news.1 }}/{{ news.2 }}/{{ news.3 }}/">Check it out</a>
            {% endif %}
        </div>
        <br>
    {% endfor %}

</body>
</html>