<!DOCTYPE html>
<html>
<head>
    <title>Movie Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
    {% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'NavStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'MovieStyle.css' %}">
</head>
<body>

	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		{% block account_block %}
			{% if user.1 %}
				<div class="dropdown">
					<button class="dropbtn">{{user.0}}
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/profile/">Profile</a>
					  <a href="#logout">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="/login/">Sign-In</a>
			{% endif %}
		{% endblock %}
		<div class="search-container">
		<form action="/search/result/">
		  <input type="text" placeholder="Search.." name="search_box">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

	<div class="movie-container">
		<img src="{{ tv_show.0.6 }}">
		<div class="information">
			<h1>{{tv_show.0.1}}</h1>
			<p>
				Rating: <!-- display rating --><br><br>
				Release Date: {{tv_show.0.4}}<br><br>
				Runtime: <br><br>
				Genre:
				<!-- displaying genres
				{% for genre in movie.genre_list %}
					{{genre}}{% if not forloop.last %},{% endif %}
				{% endfor %}
				-->
				<br><br>
				Director: <!-- find director using query and display -->
				<br>
			</p>
		</div>

		<div class="synopsis">
			<h3>Synopsis</h3>
			<p>
				{{ tv_show.0.3 }}
			</p>
		</div>

		<div class="cast">
			<h3>Cast</h3>
			<ul>
				<!-- display actors,directors etc.
				{% for celeb in movie.cast %}
					<li><a href="#celeb_page">{{celeb.celeb_name}}</a></li>
				{% endfor %}
				-->
			</ul>
		</div>

		<div class="reviews-section">
			<h3>User Reviews</h3>
			{% for review in reviews %}
				<!--<div class="user-review">-->
					<a href="#user_profile"><b>{{review.0}}</b></a> <br><br>
					<p>
						Rating: {{revie.1}} <br><br>
						{{review.2}} <br>
					</p>
				<!--</div>-->
			{% endfor %}
		</div>
	</div>

</body>
</html>