<!DOCTYPE html>    
<html>    
<head>    
    <title>Movie Title</title>    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/NavStyle.css"> 
	<link rel="stylesheet" type="text/css" href="css/MovieStyle.css">
</head>    
<body>    
	
	<div class="navbar">
		<nav>
		<a href="#home">IMDb</a>
		<a href="#movies">Movies</a>
		<a href="#tv_shows">TV Shows</a>
		<a href="#celeb">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		<!-- {% block account_block %}
			{% if user.is_authenticated %}
				<div class="dropdown">
					<button class="dropbtn">{{user.username}}
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="#profile">Profile</a>
					  <a href="#logout">Logout</a>
					</div>
				</div>
			{% else %}
				<a href="#signin_page">Sign-In</a>
			{% endif %}
		{% endblock %} 
		-->
		<div class="search-container">
		<form action="/action_page.php">
		  <input type="text" placeholder="Search.." name="search">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav> 
	</div>
	
	<div class="movie-container">
		<div class="intro"> 
			<img src="sample.jpg">
			<div class="info">
				<h1>{{movie.title}} {{movie.title}} {{movie.title}}</h1>
				Rating: <!-- display rating --> {% if user.is_authenticated %} <button id="ratebtn">Rate this</button> {% endif %}<br><br>
				Release Date: <!-- {{movie.release_date}} --><br><br>
				Runtime: <!-- {{movie.runtime}} --><br><br>
				Genre: 
				<!-- displaying genres
				{% for genre in movie.genre_list %}
					{{genre}}{% if not forloop.last %},{% endif %}
				{% endfor %}
				-->
				<br><br>
				Director: <!-- find director using query and display -->
				<br>
			</div>
		</div>
		
		<div class="synopsis">
			<h3>Synopsis</h3>
			<p>
				<!-- {{movie.synopsis_text}} -->
			</p>
		</div>
		
		<div class="cast">
			<h3>Cast</h3>
			<ul>
				<!-- display actors,directors etc.
				{% for celeb in movie.cast %}
					<li><a href="#celeb_page">{{celeb.celeb_name}}</a></li>
				{% endfor %}
				-->
			</ul>
		</div>
		
		<div class="reviews-section">
			<h3>User Reviews</h3>
			<!-- display review content
			{% for review in movie.review_list %}
				<div class="user-review">
					<a href="#user_profile"><b>{{review.username}}</b></a> <br><br>
					<p>
						Rating: {{revie.rating}} <br><br>
						{{review.review_text}} <br>
					</p>
				</div>
			{% endfor %}
			-->
		</div>
		
		{% if user.is_authenticated %}
			<div class="add-review">
				<button id="reviewbtn">Add a Review</button>
			</div>
		{% endif %}
	</div>
	
	
	<div id="rateForm" class="modal">
	  <div class="rate-form-content">
		<span class="close">&times;</span>
		<form id="giveRating" class="rating" method="get" action="giveRating.php">
			<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
			<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
			<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
			<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
			<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
			<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
			<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
			<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
			<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
			<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
		</form>
	  </div>
	</div>
	
	<div id="reviewForm" class="modal">
	  <div class="review-form-content">
		<span class="close">&times;</span>
		<form id="giveReview" method="get" action="giveReview.php">
			<label for="review-text"><h3>Write a Review</h3></label><br>
			<textarea  name="review-text" id="review-text" cols="100">
			</textarea>
			<br><br> 
		</form>
	  </div>
	</div>
	
	<script>
		var ratebox = document.getElementById("rateForm");
		
		var reviewbox = document.getElementById("reviewForm");

		var btn = document.getElementById("ratebtn");
		
		var btn2 = document.getElementById("reviewbtn");

		var span = document.getElementsByClassName("close")[0];
		
		var span2 = document.getElementsByClassName("close")[1];
		
		btn.onclick = function() {
		  ratebox.style.display = "block";
		}
		
		btn2.onclick = function() {
		  reviewbox.style.display = "block";
		}
		
		span.onclick = function() {
		  ratebox.style.display = "none";
		}
		
		span2.onclick = function() {
		  reviewbox.style.display = "none";
		}

		window.onclick = function(event) {
		  if (event.target == ratebox) {
			ratebox.style.display = "none";
		  }
		}
		
		window.onclick = function(event) {
		  if (event.target == reviewbox) {
			reviewbox.style.display = "none";
		  }
		}
	</script>
	
	<script>
		$("textarea").keyup(function(e) {
		if(e.keyCode == 13) //13 is the ASCII code for ENTER
			{
				var rowCount = $(this).attr("rows");
				$(this).attr({rows: rowCount + 5});
			}
		});
	</script>
</body>    
</html> 
