<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
    {% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'NavStyle.css' %}">

</head>
<body>

	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		<!-- {% block account_block %}
			{% if user.is_authenticated %}
				<a href="#account_page">{{user.username}</a>
			{% else %}
				<a href="#signin_page">Sign-In</a>
			{% endif %}
		{% endblock %}
		-->
		<div class="search-container">
		<form action="/search/result/" method="post">
            {% csrf_token %}
		  <input type="text" placeholder="Search.." name="search_box">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

</body>
</html>