<!DOCTYPE html>
<html>
<head>
    <title>Movie Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
    {% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'NavStyle.css' %}">
{#	<link rel="stylesheet" type="text/css" href="{% static 'MovieStyle.css' %}">#}
</head>
<body>

	<div class="navbar">
		<nav>
		<a href="/">IMDb</a>
		<a href="/movie/">Movies</a>
		<a href="/tvshow/">TV Shows</a>
		<a href="/celeb/">Celebs</a>
		<!-- Below block is for showing username if user is logged in otherwise sign-in -->
		{% block account_block %}
			{% if user.1 %}
                <a href="/profile/">{{ user.0 }}</a>
                <a href="#logout">Logout</a>
			{% else %}
				<a href="/login/">Sign-In</a>
			{% endif %}
		{% endblock %}
		<div class="search-container">
		<form action="/search/result/">
		  <input type="text" placeholder="Search.." name="search_box">
		  <button type="submit"><i class="fa fa-search"></i></button>
		</form>
		</div>
		</nav>
	</div>

	<div class="movie-container">
		<img src="{{ celeb.0.2 }}">
		<div class="information">
            <h1>{{celeb.0.1}}</h1>
                Born: {{celeb.0.3}}<br><br>
                {% if celeb.0.6 %}
                    Height: {{celeb.0.6}}m<br>
                {% endif %}
		</div>

		<div class="synopsis">
			<h3>Biography</h3>
			<p>
				{{ celeb.0.5 }}
			</p>
		</div>

	</div>

</body>
</html>